
<!--Author - Maitry Mehta - 17964028 
     This is the  client side html file which allows a user to put in cab request. 
     It takes in the input values like Customer name, Contact no, Pick-up Address, Pick-Up Date.-->


<head> 
    <title>Cabs Online</title> 
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css" />
    <script src="https://code.jquery.com/jquery-2.0.0.js"></script>
    <script type="text/javascript" src="restClient.js"></script>
    <script type="text/javascript" src="assignCab.js"></script>
    <script type="text/javascript" src="showPickUps.js"></script>
</head> 
<body>
    <div class="cabsBooking-container">
        
        <div id="success"></div>
        <table id="result" border='1'>
            <tr>
                <th>Booking Reference No.</th>
                <th>Contact Number</th>
                <th>Customer Name</th>
                <th>Generated Date</th>
                <th>PickUp Address</th>
                <th>PickUp Date-Time </th>
                <th>Status</th>
            </tr>
        </table>
        
        <div class="infoWrapper">
            <h1 class="cabsBookingFormHeading">
                Cabs Online
            </h1>

            <form class="cabBooking-form" method="get">
                <div class="cabsBookingFormSpacing statusCodeForm-btns cabsBookingFormButton:hover">
                    <label class="cabsBookingForm-label"> Check Booking Request: </label> 
                    <button class="cabsBookingFormButton" name="showPickUpRequest" onclick="onClickShowPickUpRequest(event)">Show PickUp Request</button>
                </div>  
            </form> 

            <form class="cabBooking-form" method="post">
                <div class="cabsBookingFormSpacing statusCodeForm-btns cabsBookingFormButton:hover">
                    <label class="cabsBookingForm-label"> Enter Booking Reference No: </label> 
                    <input class="cabsBookingForm-input" type="text" id="bookCab" />
                    <div id="bookCabError" class="validationError"> </div>
                    <button class="cabsBookingFormButton" name="assignTaxi" onclick="onClickAssignCab(event)">Assign Taxi</button> 
                </div>
            </form> 
        </div> 
    </div>
</body> 