/**
 * Author - Maitry Mehta - 17964028
 * This Cascading StyleSheet is used to beautify the client side htm pages.
 */

body {
    margin: 0;
    padding: 0;
    font-family: Nunito, Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}


/* Container*/

.cabsBooking-container {
    background-color: #dfc12a;
    height: 100%;
    width: 100%;
}


/*Index Page*/

.infoWrapper {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/*Form*/

.cabBooking-form {
    background: #A9A9A9;
    border-radius: 8px;
    color: #2C3E50;
    padding: 15px 20px;
    width: 400px;
}

.cabsBookingFormHeading {
    color: #2C3E50;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}

.cabsBookingForm {
    margin-top: 25px;
}

.cabsBooking-address {
    border-radius: 8px;
    background-color: #dfc12a;
    padding: 15px 20px;
}

.cabsBookingForm-flex {
    display: flex;
}

.cabsBookingForm-margin {
    margin-right: 20px;
}

.cabsBookingForm-label {
    display: flex;
    margin-bottom: 5px;
}

.cabsBookingForm-input {
    border: none;
    font-size: 16px;
    height: 0;
    margin: 0;
    padding: 15px;
    width: 100%;
}

.cabsBookingFormButton {
    width: 49%;
    height: 30px;
    background-color: #dfc12a;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.cabsBookingFormButton:hover {
    color: #2C3E50;
}

.validationError {
    color: red;
}

#success {
    text-align: center;
    color: green;
    padding-top: 20px;
}